<h3>Post a comment:</h3>
<p>
  <%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.text_field :author_name, placeholder: "Your Name" %>
  </p>
  <p>
    <%= f.text_area :body, placeholder: "Comment" %>
  </p>
    <%= f.submit 'Submit' %>
<% end %>
</p>
