<h1>List of tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: 'article_title' %>
    </li>
  <% end %>
</ul>

<%= link_to "Home", articles_path %>
